@model IEnumerable<SistemaMatricula.mvc.Models.Aluno>

<!-- Titulo da pagina -->
@{
    ViewData["Title"] = "Lista de alunos";
}

<div class="container">

    <!-- Cadastro de um novo registro -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Matrículas</h1>
        <!-- Navegação para o page formulario de cadastro Controller Matriculas>> Método Cadastrar-->
        <a class="btn btn-success mx-2" asp-controller="Matriculas" asp-action="Cadastrar"><i class="bi bi-file-earmark-plus mx-2"></i>Nova Matrícula</a>
    </div>

    <!-- Exibição da mensagem de Sucesso-->
    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["MensagemSucesso"]
        </div>
    }

    <!-- A view está recebendo da controller o banco de dados salvo na var "aluno-->

<table id="matriculas" class="table table-light table-hover"> <!--  ID para o Jquery-->
    <thead>
        <tr>
            <th scope="col">Matrícula</th>
            <th scope="col">Nome</th>
            <th scope="col">Curso</th>
            <th scope="col">Unidade</th>
            <th scope="col">Ultima Atualização</th>
            <th></th>
 
        </tr>
    </thead>
    <tbody>

        <!-- Verificando se há registros no banco -->
        @if(Model != null)
        {
            <!-- Percorrendo os registros do banco-->
            @foreach(var matricula in Model)
            {
                <tr>
                    <th scope="row">@matricula.MatriculaId</th>
                    <td>@matricula.Nome</td>
                    <td>@matricula.Curso</td>
                    <td>@matricula.Unidade</td>
                    <td id>@matricula.DataMatricula</td>
                    <td>
                        <!-- asp-route-id permite guardar esse usuário para que possamos exibir os dados dele e envia para a pagina editar.-->
                            <a type="button" class="btn btn-warning mx-2"  asp-controller="Matriculas" asp-action="Editar" asp-route-id="@matricula.MatriculaId"><i class="bi bi-pencil-square mx-1"></i>Editar</a>
                            <a type="button" class="btn btn-danger mx-2" asp-controller="Matriculas" asp-action="Excluir" asp-route-id="@matricula.MatriculaId"><i class="bi bi-trash3-fill mx-1"></i>Excluir</a>
                    </td>

                </tr>
            }
        }


    </tbody>
</table>

</div>