@model IEnumerable<SistemaMatricula.mvc.Models.Aluno>

<!-- Titulo da pagina -->
@{
    ViewData["Title"] = "Lista de alunos";
}

<div class="container">

    <!-- Cadastro de um novo registro -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Matrículas</h1>
        <!-- Navegação para o page formulario de cadastro Controller Matriculas>> Método Cadastrar-->
        <a class="btn btn-success mx-2" asp-controller="Matriculas" asp-action="Cadastrar">Nova Matrícula</a>
    </div>

    <!-- A view está recebendo da controller o banco de dados salvo na var "aluno-->

<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th scope="col">Matrícula</th>
            <th scope="col">Nome</th>
            <th scope="col">Curso</th>
            <th scope="col">Unidade</th>
            <th scope="col">Ultima Atualização</th>

        </tr>
    </thead>
    <tbody>

        <!-- Verificando se há registros no banco -->
        @if(Model != null)
        {
            <!-- Percorrendo os registros do banco-->
            @foreach(var matricula in Model)
            {
                <tr>
                    <th scope="row">@matricula.MatriculaId</th>
                    <td>@matricula.Nome</td>
                    <td>@matricula.Curso</td>
                    <td>@matricula.Unidade</td>
                    <td>@matricula.DataMatricula</td>

                </tr>
            }
        }


    </tbody>
</table>

</div>